nav {
  margin: 0;
  padding: 10px 70px;
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

.App {
  background-color: turquoise;
  height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  padding: 10px 20px;
}